.bg-light {
    background-color: #fff !important;
    text-align: center;
}

body {
	background-color: #f1f1f1;
	color: #333333;
	font-family: 'Roboto', sans-serif;
}

.card {
	background-color: #fff;
	padding: 25px 30px;
	border: none;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
}

.card:hover, .card:active {
	box-shadow: 0px 5px 15px rgba(0,0,0,0.13);
}

h5 {
	text-transform: uppercase;
	font-weight: 900;
  font-family: 'Roboto', sans-serif;
  font-size: 1.30rem;
  text-align: left !important;
  margin-bottom: 30px;
  border-left: 4px solid #fb435b;
  padding: 2px 10px;
}

h6 {
  text-transform: uppercase;
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

p {
	color: #333;
	font-weight: 300;
	font-size: 14px;
}


.m-50 {
    margin: 25px 25px;
}


.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.1);
  color: #f1f1f1;
  width: 100%;
  padding: 10px 25px;
}


ul > li {
  list-style: none !important;
}

ul > li > p {
  margin-bottom: 0px;
}

.lista {
  color: #fb435b;
  font-weight: 400;
}

.lista-b {
  font-weight: 600;
}

a, a:hover, a:focus, a:visited {
  color: #fb435b;
  font-weight: 600;
  text-decoration: 1px;
}

.fecha {
  color:#000;
  font-weight: 600;
}